_ngo/
_xmsgs/
iseconfig/
xst/
xlnx_auto*/
*.bld
*.cmd_log
*.gise
*.html
*.lso
*.ngc
*.ngr
*.origin
*.prj
*.stx
*.syr
*.xml
*.xrpt
*.xst
*.xdc
*.bgn
*.drc
*.ncd
*.ngd
*.pad
*.par
*.pcf
*.ptwx
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.map
*.mrp
*.ngm
*.csv
*.txt
*.log
*.bit
*.pwr
*.xwbt
*.log
