_ngo/
_xmsgs/
iseconfig/
xst/
xlnx_auto*/
*.bgn
*.bit
*.bld
*.cmd_log
*.csv
*.drc
*.gise
*.html
*.lock
*.log
*.lso
*.ncd
*.ngc
*.ngd
*.ngm
*.ngr
*.map
*.mrp
*.origin
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.pwr
*.stx
*.syr
*.tcl
*.twr
*.twx
*.txt
*.unroutes
*.ut
*.xdc
*.xml
*.xpi
*.xrpt
*.xst
*.xwbt


